.hero img {
  max-width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-block: 1rem;
}

.hero p {
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.hero button {
  margin-block: 2rem;
  padding: 15px 35px;

  border: 1px solid transparent;

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;

  color: var(--off-white);
  background-color: var(--primary-red);
}

.hero button:focus-visible,
.hero button:hover {
  color: var(--off-white);
  background-color: var(--very-dark-blue);
}

.hero .hero-mobile-img {
  display: block;
}

.hero .hero-desktop-img {
  display: none;
}

/***** ON DESKTOP *******/

@media screen and (min-width: 1000px) {
  .hero__bottom {
    display: flex;
    gap: 4rem;
    padding-top: 1rem;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero p {
    padding-top: 1rem;
  }

  .hero__cta {
    max-width: 40%;
  }
}

@media screen and (min-width: 750px) {
  /* display the correct image */
  .hero .hero-mobile-img {
    display: none;
  }
  .hero .hero-desktop-img {
    display: block;
    grid-column: span 2;
  }
}
