header {
  display: flex;
  justify-content: space-between;
}

header button {
  border: none;
  background: transparent;

  z-index: 10;
}

@media screen and (min-width: 800px) {
  header button {
    display: none;
  }
}
