aside {
  padding: 16px 20px;
  background-color: var(--very-dark-blue);
}

aside h2 {
  font-size: 2.25rem;
  color: var(--primary-orange);

  padding-block: 1rem;
}

aside h3 {
  font-size: 1.3rem;
  font-weight: 800;
  padding-block: 1rem;

  color: var(--off-white);
}

aside p {
  padding-bottom: 1rem;
  color: var(--grayish-blue);
}

aside hr {
  border-color: var(--grayish-blue);
  margin-block: 1rem;
}
