nav {
  position: fixed;
  top: 0;
  right: -100%; /* Move off-screen */
  height: 100vh;
  width: 100vw; /* Set your desired width */

  display: flex;
  justify-content: flex-end;
  background: transparent;

  transition: right 0.5s ease, background-color 0.2s;
}

nav.open {
  right: 0;
  background: hsla(240, 100%, 5%, 0.425);
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: min(300px, 70vw);
  padding: 150px 25px;

  background: hsl(36, 100%, 99%);
}

nav ul li a {
  font-size: 1.2rem;
  color: var(--very-dark-blue);
}
